html, 
body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-block,
.second-block,
.third-block,
.fourth-block{
    height: 22%;
}

.header,
.copyright {
    height: 6%;
    width: 100%;
    flex-grow: 0;
    flex-wrap: wrap;
}


.header,
.logo,
.links {
    display: flex;
}


.header{
    justify-content: space-between;
    padding-top: 1%;
}


.logo{
    width: 30%;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.links{
    width: 50%;
    gap: 5%;
    justify-content: center;
}


a {
    text-decoration: none;
    color: beige;
}


.block,
.copyright {
    background-color: rgb(26, 30, 54);
    color: beige;
}

.first-block, 
.info,
.image {
    display: flex;
}

.first-block{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 1%;
}

.info{
    flex-direction: column;
    width: 30%;
    height: 50%;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 10rem;
}


h3 {
    font-size: 2rem;
    text-align: left;
    width: 80%;
    margin: 0;
}

.first-block .description{
    padding: 1%;
    font-size: 1rem;
    width: 90%;
    margin-bottom: 1%;
}

button{
    background-color: blue;
    color: beige;
    size: 50%;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10%;
    width: max-content;
    flex: none;
}

.first-block > .image{
    width: 40%;
    height: 80%;
    flex-shrink: 0;
}

.second-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none; 
    padding: 0;
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
    width: 80%;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
}

li > .image{
    display: flex;
    flex-direction: column;
    border: 3px solid blue;  
    border-radius: 10px;
    justify-content: center;
    width: 130px;
    height: 130px;
    flex-shrink: 1;
}

li > .description{
    padding: 5%;
    text-align: center;
}

.third-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(32, 32, 32, 0.185);
    justify-content: center;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 3%;
}

.quote{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.quote h3{
    font-size: 1.6rem;
    font-weight: normal;
}

.quote h2{
    font-size: 1.2rem;
    width: 100%;
    font-weight: bold;
    text-align: end;
}

.fourth-block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.fourth-block > .banner{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: blue;
        color: beige;
        width: 60%;
        height: 50%;
        border-radius: 5px;
        padding: 4%;
        gap: 5%;
}

.banner > button{
    border: 1px solid beige;  
}

.title{
    font-weight: bold;
    font-size: 1.2rem;
}

.copyright{
    text-align: center;
    size: 1rem;
}